@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 320px) and (max-width: 500px){
  .navbar{
    flex-direction: column;
  }
  .navIndex{
    flex-direction: column;
  }
  #logoIndex{
    width: 8rem;
    border-radius: 50%;
    margin: 2rem;
  }
  body{
    background-color: antiquewhite;
  }
}

@media only screen and (min-width: 500px) and (max-width: 1200px){
  body{
    background-color: white;
  }
}